{% extends "base.html" %}

{% block content %}
    <h1>
      TODO list
      <a href="{% url 'task:task-create' %}" class="btn btn-primary link-to-page" style="float: right">
        Add task
      </a>
    </h1>

    {% if task_list %}

    {% for task in task_list %}
        <hr>
        <div class="d-flex justify-content-between">
            <div class="d-flex ">
              <h4>{{ task.content }}</h4>
              <div style="margin-left:10px">
              {% if task.is_task %}
                  <h4>
                    <p style="color:green" style="margin-left: 10px">Done</p>
                  </h4>
                {% else %}
                  <h4>
                    <p style="color:red" style="margin-left: 10px">Not Done</p>
                  </h4>
                {% endif %}
                </div>
            </div>

            <div>
              {% if task.is_task %}

                <a href="{% url 'task:partial-update-task' pk=task.id %}" class="btn btn-success link-to-page"  >
                  Complete
                </a>
              {% else %}
                <a  href="{% url 'task:partial-update-task' pk=task.id %}" class="btn btn-secondary link-to-page" >
                  Undo
                </a>
              {% endif %}
            </div>
        </div>
        <p> Created: {{ task.create_datetime }} </p>
        <div class="d-flex ">
          <h5>Tags   :</h5>
          {% for tag in task.tags.all %}
            <p style="margin-right: 10px">{{ tag }} </p>
          {% endfor %}
              <a href="{% url 'todo:task-update' pk=task.id %}" >
                Update
              </a>
              <p style="margin-right: 10px"><a href="{% url 'todo:task-delete' pk=task.id %}" >
                Delete
              </a></p>
        </div>

    {% endfor %}

    {% else %}
      <p>There are no tasks. </p>
    {% endif %}
{% endblock %}
