{% extends "base.html" %}


{% block content %}
    <h1>
      TODO list
      <a href="{% url 'task:task-create' %}" class="btn btn-primary link-to-page" style="float: right">
        Add task
      </a>
    </h1>

    {% if task_list %}

    {% for task in task_list %}
        <div class="d-flex justify-content-left">
          <h4>{{ task.content }}</h4>
          {% if task.state_task %}
            <h4>
              <p style="color:red ">Done</p>
            </h4>
          {% else %}
            <h4>
              <p style="color:red ">Not Done</p>
            </h4>
          {% endif %}
        </div>
        <p> Created: {{ task.create_datetime }}</p>
        <div class="d-flex justify-content-left">
          <h5>Tags :</h5>
          {% for tag in task.tags.all %}
            <p>{{ tag }},  </p>
          {% endfor %}
              <a href="{% url 'task:task-update' pk=task.id %}" >
                Update
              </a>
              <a href="{% url 'task:task-delete' pk=task.id %}" >
                Delete
              </a>
        </div>

      <br>
    {% endfor %}

    {% else %}
      <p>There are no tasks. </p>
    {% endif %}
{% endblock %}


